<!DOCTYPE html>
<head>
  <% include ./components/head %>
  <link href="./css/floatingCard.css" rel="stylesheet">
  <link href="./css/portal.css" rel="stylesheet">
  <link href="./css/socialTiles.css" rel="stylesheet">
</head>

<body style="background-image: url('./images/stripe4.png');padding: 0;">
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <!-- Jumbotron Header -->
    <!--<header class="jumbotron" style="background-color: rgb(255, 247, 103);background-size:100% 100%;min-height: 700px;border-radius: 0 !important;width: 75%;">-->
    <header class="jumbotron" style="background-image: url('../images/womenSourcedBgTwo.png');background-size:100% 100%;min-height: 700px;border-radius: 0 !important;width: 75%;">
    </header>

  </div>
  <section class="container position-absolute" style="top: 5%; left: 20%;">
      <div class="row active-with-click d-flex flex-wrap">
          <div class="col col-md-7 col-sm-6 col-xs-12">
              <article class="material-card Red">
                  <h2 class="shadowNew">
                      <span onclick="location='../about'" style="cursor: pointer;">Small Business Mixer</span>
                  </h2>
                  <div class="mc-content shadowNew">
                      <div class="img-container shadowNew">
                          <img class="img-responsive" src="../images/businessOneCropped.jpg">
                      </div>
                      <div class="mc-description">
                          This is some example text depicting an event happening in the near future.
                      </div>
                  </div>
                  <a class="mc-btn-action">
                      <i class="fa fa-bars"></i>
                  </a>
                  <div class="mc-footer shadowNew">
                      <h4>
                          Social
                      </h4>
                      <a class="fa fa-fw fa-facebook"></a>
                      <a class="fa fa-fw fa-twitter"></a>
                      <a class="fa fa-fw fa-linkedin"></a>
                      <a class="fa fa-fw fa-google-plus"></a>
                  </div>
              </article>
          </div>
          <div class="col col-lg-5 mbr-col-md-10">
              <div class="wrap shadowNew" onclick="location='../about'">
                  <div class="ico-wrap">
                      <span class="mbr-iconfont fa-globe fa"></span>
                  </div>
                  <div class="text-wrap vcenter">
                      <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Enter <span>The User Portal</span>
                      </h2>
                      <p class="mbr-fonts-style text1 mbr-text display-6">Log in to your personal or business persona.</p>
                  </div>
              </div>
              <div class="pt-5">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
              </div>
              <div>
                <ul class="m-5">
                  <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
              </div>
          </div>
      </div>
  </section> 
  <div class="container mt-5">
    <!-- Page Features -->
    <div class="row text-center">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="./images/simpleJumbotron.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">About Us</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">Faq</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">Services</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">Contact Us</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!--Card-->
  <script src="./js/floatingCard.js"></script>
</body>

</html>
