<!DOCTYPE html>
<html lang="en">
    <head>
      <% include ./components/head %>
        
      <!-- Custom styles for this template -->
      <link href="./css/root.css" rel="stylesheet">
        
    </head>
        
    <body>
      <% include ./components/navigation %>
    
      <!-- Page Content -->
      <div class="container-fluid h-100">
    
        <div class="row" style="height: 95%;min-height: 600px;">
            <div class="col-md p-0" style="background-image: url(./images/techno.jpg); background-size: 100% 100%" >
                <div class="border rounded w-25 text-dark" style="font-size: 24px; font-family:Arial, Helvetica, sans-serif">
                    Example!
                </div>
            </div>
            <div class="col-sm p-0" style="background-color: #0B1526; background-size: 100% 100%">
                One of two columns
            </div>
        </div>
        <div class="row" style="height: 5%;min-height: 30px;">
                <div class="col-md p-0 border-top border-3 border-dark">
                    <!-- Footer -->
                    <footer class="h-100" style="background-color: #0B1526;">
                        <div class="container h-100">
                            <p class="m-0 pt-2 text-center text-light">&copy; 2019 Women Sourced</p>
                        </div>
                        <!-- /.container -->
                    </footer>
                </div>
        </div>
        
    
      </div>
      <!-- /.container -->
    
    <% include ./components/bootstrap %>
  </body>
</html>